session_name JDLOps
use lorri --flake .#
watch_file flake.lock
export AWS_SHARED_CREDENTIALS_FILE=secrets/aws-credentials
export NIX_PATH=nixpkgs=https://github.com/NixOS/nixpkgs/archive/nixos-23.05.tar.gz:.
export NIXOPS_STATE=secrets/deployments.nixops
