session_name JDLOps
use lorri
export AWS_SHARED_CREDENTIALS_FILE=secrets/aws-credentials
export NIX_PATH=nixpkgs=https://github.com/NixOS/nixpkgs/archive/nixos-21.05.tar.gz:.
export NIXOPS_STATE=secrets/deployments.nixops
